body {
  font-family: helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.slider{
  background-image: url('./broadway/resources/images/the-flatiron-building.png');
}
